{% extends 'template.html.twig' %}


{% block body %}
            
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Moyenne d'age des personnes entre {{ ageMin }} et {{ ageMax }} ans</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" >{{ stats['ageMoyen'] }}</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Nombre de Personne d'age  entre {{ ageMin }} et {{ ageMax }} ans</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" >{{ stats['nombrePersonne'] }}</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            

{% endblock %}

{% block title %}


{% endblock %}